:root {
    --white-color: #ffffff;
    --light-gray-color: #d4d4d4;
    --bg-dark-color: #333;
    --gray-color: #444444;
    --blue-color: #007bff;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--white-color);
    line-height: 1.6;
    background-color: var(--bg-dark-color);
}

header nav {
    background-color: var(--bg-dark-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    color: var(--white-color);
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    margin-left: 100px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 200px;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 16px;
    transition: background 0.3s ease;
}

header nav ul li a:hover {
    background-color: var(--blue-color);
    border-radius: 5px;
}

header nav .order-button {
    position: absolute;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background 0.3s ease;
    text-decoration: none;
}

header nav .order-button:hover {
    background: var(--blue-color);
}

.hero {
    height: 70vh;
    background: url('pozadi.jpg') no-repeat center center/cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-top: 10%;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 8%;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    background: var(--blue-color);
    color: var(--white-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}

.why-choose {
    background-color: var(--bg-dark-color);
    color: var(--white-color);
    padding: 50px 0;
    text-align: center;
}

.why-choose h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.why-choose .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.reasons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.reason {
    background-color: var(--gray-color);
    padding: 30px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reason:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.reason h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--white-color);
}

.reason p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--light-gray-color);
}

.brands {
    background-color: var(--bg-dark-color);
    color: var(--white-color);
    padding: 50px 0;
    text-align: center;
}

.brands h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.brands .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.brand-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.brand {
    background-color: var(--gray-color);
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.brand img {
    max-width: 200px;
    margin-bottom: 15px;
}

.brand p {
    font-size: 1.2rem;
    margin: 0;
}

.brand:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.pricing {
    background-color: var(--bg-dark-color);
    color: var(--white-color);
    padding: 50px 0;
    text-align: center;
}

.pricing h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.pricing .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.pricing-category {
    margin-bottom: 50px;
}

.pricing-category h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ebebeb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.price-table th, .price-table td {
    padding: 15px;
    text-align: left;
}

.price-table th {
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
}

.price-table td {
    background-color: #555;
    color: #cccccc;
}

.price-table td:first-child {
    font-weight: bold;
}

.price-table th.column-1,
.price-table td.column-1 {
    width: 15%;
}

.price-table th.column-2,
.price-table td.column-2 {
    width: 1%
}

.faq {
    background-color: var(--bg-dark-color);
    color: #fff;
    padding: 50px 0;
}

.faq .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.faq h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--white-color);
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.faq-item {
    background-color: var(--gray-color);
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--white-color);
}

.faq-item p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--light-gray-color);
}

.faq-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: bounce 1.5s infinite;
}

.scroll-down img {
    width: 40px;
    height: auto;
}

@keyframes bounce {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(10px) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}

.company {
    background-color: var(--bg-dark-color);
    color: var(--white-color);
    padding: 50px 0;
    text-align: center;
}

.company h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.company .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.info-box {
    background-color: var(--gray-color);
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.info-box h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--white-color);
    text-transform: uppercase;
}

.info-box p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--light-gray-color);
}

.info-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-box ul li {
    font-size: 1.1rem;
    color: var(--white-color);
    margin: 8px 0;
}

.info-box ul li a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.info-box ul li a:hover {
    color: #007bff;
}

.device-image img {
    max-width: 35%;
}

.company-info {
    background-color: var(--bg-dark-color);
    color: var(--white-color);
    padding: 50px 0;
    text-align: center;
}

.company-info h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.company-info .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.info-box {
    background-color: var(--gray-color);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.info-box h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--white-color);
}

.info-box p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--light-gray-color);
}

.info-box a {
    color: var(--blue-color);
    text-decoration: none;
    font-weight: bold;
}

.info-box a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    /* Prevent header expansion */
    header {
        overflow: hidden; /* Prevent content from overflowing */
    }

    header nav {
        flex-direction: column; /* Stack the navigation links and logo vertically */
        align-items: center; /* Center-align the elements */
        padding: 10px; /* Adjust padding to reduce header height */
    }

    header nav .logo {
        font-size: 2rem; /* Adjust logo size */
        margin-left: 0; /* Remove left margin */
        margin-bottom: 10px; /* Add margin to space out from menu */
    }

    header nav ul {
        margin-right: 0; /* Remove right margin */
        display: flex;
        flex-direction: column; /* Stack the list items vertically */
        align-items: center; /* Center-align the list items */
    }

    header nav ul li {
        margin-right: 0; /* Remove right margin for list items */
        margin-bottom: 10px; /* Add space between list items */
    }

    header nav ul li a {
        font-size: 1.2rem; /* Adjust link size */
        padding: 8px 16px;
    }

    /* Hide order button on mobile */
    header nav .order-button {
        display: none; /* Hide the order button on mobile */
    }

    .hero {
        height: 50vh; /* Adjust hero section height */
    }

    .hero h1 {
        font-size: 2.5rem; /* Adjust heading size */
    }

    .hero p {
        font-size: 1.2rem; /* Adjust paragraph font size */
    }

    .reason, .brand {
        width: 100%; /* Stack reasons and brands vertically */
        margin-bottom: 20px; /* Add space between items */
    }

    .pricing-category h3 {
        font-size: 1.5rem; /* Adjust category heading size */
    }

    .price-table th, .price-table td {
        font-size: 0.9rem; /* Adjust table font size */
    }

    .faq-item {
        margin: 10px 0; /* Adjust margin for FAQ items */
    }

    .scroll-down img {
        width: 30px; /* Adjust scroll-down icon size */
    }

    .info-box {
        width: 100%; /* Make info boxes take full width */
        margin-bottom: 15px; /* Reduce margin */
    }

    .device-image img {
        max-width: 80%; /* Adjust device image size */
    }

    .company-info .container {
        padding: 0 10px; /* Reduce container padding */
    }

    .company-info h2 {
        font-size: 2rem; /* Adjust company info heading size */
    }
}
